<!DOCTYPE html>
<html>
    <head>
        <title>mnistお絵かき</title>
        <meta charset="utf-8">
    </head>
    <body style="background-color: lightgrey;">
        <p><strong>手書き数字判別</strong></p>
        <canvas id="canvas" width="28" height="28"></canvas>
        <p><button id="button">判別</button></p>
        <div><strong>result:</strong> <span id="result"></span></div>
        <div><strong>softmax:</strong> <span id="softmax"></span></div>

        <script type="text/javascript" src="static/js/index.js"></script>
    </body>
</html>
